{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class='col-10 mx-auto'>
<h3>Delete Instance #{{ instance.id }}?</h3>
<table class="table text-left">
    <thead class="thead-dark">
        <tr>
          <th>id</th>
          <th>Username</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>{{ instance.id }}</td>
          <td>{{ instance.full_name }}</td>
          <td> {{ instance.email }} </td>
          </tr>        
</table>    

<form method='POST'>
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class='btn btn-primary my-3' type='submit'>Yes, delete</button>

</form>
</div>

{% endblock %}